/* === RESET & BASE === */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0.5px solid rgba(188, 69, 69, 0.431);
  /* font-size: 20px; */
}

body {
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(69, 69, 69);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul{
  list-style: none;
}



/*===coloring sections===*/
/* .page-wrapper{
  background-color: rgba(127, 255, 212, 0.348);
}
.top-nav{
  background-color: rgba(0, 0, 255, 0.286);
}
.side-nav{
  background-color: rgba(137, 43, 226, 0.502);
}
.user-projects{
  background-color: aqua;
}
.content-side{
  background-color: burlywood;
} */



/*=== main grid ===*/
.page-wrapper{
  display: grid;
  gap: 10px;
  grid-template-columns: 120px;
}



/*=== top nav ===*/
.top-nav{
  grid-area: 1 / 2 / 2 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-right: 10px;
}
.user-actions{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.btn-project-control{
  border-radius: 5px;
}
.btn-project-control:hover{
  background-color: aqua;
  cursor: pointer;
}
.btn-project-control:active{
  background-color: aquamarine;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.account{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}



/*=== side contnt===*/
.content-side{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 20px;
}
.announcements{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}
.announcement-text{
  margin: 10px;
}
.source-card-content{
  display: flex;
  padding: 10px;
  gap: 5px;
}
.source-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}



/*=== creating a side bar ===*/
.side-nav{
  grid-area: 1 / 1 / 4 / 2;
  padding-top: 15px;
  height: max(100%, 100vh);
}


/*=== main content section ===*/
.content-main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.user-projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;
}
.user-projects-title{
  grid-column: 1 / -1;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
}
.card-title{
  font-weight: bold;
}
.card-description{
  flex-grow: 1;

}
.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-btn{
  display: flex;
  align-self: flex-end;
  gap: 10px;
}



/*=== Icon settings===*/
/*icon size*/
.icon-medium{
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.icon-small{
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1.25rem 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

/*specific icons*/
.icon-notification{
  background-image: url(media/bell-badge.svg);
}
.icon-user{
  background-image: url(media/account-circle.svg);
}
.icon-search{
  background-image: url(media/magnify.svg);
}
.icon-manage{
  background-image: url(media/sitemap.svg);
}
.icon-home{
  background-image: url(media/home.svg);
}
.icon-profile-settings{
  background-image: url(media/account-search.svg);
}
.icon-messages{
  background-image: url(media/message.svg);
}
.icon-tasks{
  background-image: url(media/clipboard-check.svg);
}
.icon-settings{
  background-image: url(media/cog.svg);
}
.icon-support{
  background-image: url(media/headset.svg);
}
.icon-privacy{
  background-image: url(media/shield-account.svg);
}
.icon-star{
  background-image: url(media/star.svg);
}
.icon-eye{
  background-image: url(media/eye.svg);
}
.icon-share{
  background-image: url(media/share-variant.svg);
}