/* === RESET & BASE === */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  border: 0.5px solid rgba(188, 69, 69, 0.431);
}

body {
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: large;
  color: rgb(69, 69, 69);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul{
  list-style: none;
}

/*===coloring sections===*/
.page-wrapper{
  background-color: rgba(127, 255, 212, 0.348);
}

.top-nav{
  background-color: rgba(0, 0, 255, 0.286);
}

.side-nav{
  background-color: rgba(137, 43, 226, 0.502);
}

.content-main{
  background-color: aqua;
}

.content-side{
  background-color: burlywood;
}

/*=== starting from top nav ===*/
.top-nav{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/*=== Icon settings===*/
/*icon size*/
.icon-medium{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  height: 3rem;
  width: 3rem;
}

.icon-small{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}
/*specific icons*/
.icon-notification{
  background-image: url(media/bell-badge.svg);
}
.icon-user{
  background-image: url(media/account-circle.svg);
}
.icon-search{
  background-image: url(media/magnify.svg);
}
.icon-manage{
  background-image: url(media/sitemap.svg);
}
.icon-home{
  background-image: url(media/home.svg);
}
.icon-profile-settings{
  background-image: url(media/account-search.svg);
}
.icon-messages{
  background-image: url(media/message.svg);
}
.icon-tasks{
  background-image: url(media/clipboard-check.svg);
}
.icon-settings{
  background-image: url(media/cog.svg);
}
.icon-support{
  background-image: url(media/headset.svg);
}
.icon-privacy{
  background-image: url(media/shield-account.svg);
}
.icon-star{
  background-image: url(media/star.svg);
}
.icon-eye{
  background-image: url(media/eye.svg);
}
.icon-share{
  background-image: url(media/share-variant.svg);
}